.btn-material {
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.20);
  border: none;
  border-radius: 0px;
  min-width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5pt;
  padding: 12px 10px;
}
