@font-face {
  font-family: 'Tofino';
  src: url('../fonts/Tofino-Regular.eot');
  src: url('../fonts/Tofino-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tofino-Regular.woff') format('woff'),
      url('../fonts/Tofino-Regular.ttf') format('truetype'),
      url('../fonts/Tofino-Regular.svg#Tofino-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tofino';
  src: url('../fonts/Tofino-Bold.eot');
  src: url('../fonts/Tofino-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tofino-Bold.woff') format('woff'),
      url('../fonts/Tofino-Bold.ttf') format('truetype'),
      url('../fonts/Tofino-Bold.svg#Tofino-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SharpUnity';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SharpUnity/SharpUnity-Book.ttf') format('truetype'),
  url('../fonts/SharpUnity/SharpUnity-Book.woff') format('woff'),
  url('../fonts/SharpUnity/SharpUnity-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'SharpUnity';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SharpUnity/SharpUnity-Semibold.ttf') format('truetype'),
  url('../fonts/SharpUnity/SharpUnity-Semibold.woff') format('woff'),
  url('../fonts/SharpUnity/SharpUnity-Semibold.woff2') format('woff2');
}

.section-header {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  color: $gray-light;
  text-transform: uppercase;
}

.callout {
  margin: 0 0 30px;
}

.remove-rhythm {
  margin: 0;
}

.text-light {
  color: $white;
}

.text-muted {
  color: $gray;
}