/*#body {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}*/

.left-align{
    text-align: left;
}

.fineprint{
    font-size: xx-small;
    font-style: italic;
}

#spacer{
min-height: 200px;
position:fixed;
}

.main-section.right {
  overflow: scroll;
}

@media (min-width: 768px) {
  .footer {
    position: fixed;
    left: auto;
    width: 60%;
  }

  .bottombuffer{
    margin-bottom: 50px;
  }

  .main-section.right {
    position: relative;
    width: 60%;
    padding-top: 50px;
  }
}
